.refWrapper{
  margin-bottom: 100px;
  margin-top: 100px;

  &--item{
    border: 5px solid $blueFrame;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 10px;
    
    img{
    width: 50%;
  }
  }
  
  @include mobileScreen{
    margin-bottom: 50px;
    margin-top: 50px;
  }
}